#   ## ---APP---
    NODE_ENV=development
    HTTP_PORT=3001
    JWT_PRIVATE_KEY=TYExMazC2DSK2T
    JWT_EXPIRES=365d

#   ## ---DATABASE---
    DB_USE=
    DATABASE_HOST=
    DATABASE_PORT=
    DATABASE_USER=
    DATABASE_PASSWORD=
    DATABASE=

#   ## ---GEMINI---
    GEMINI_KEY=
    GEMINI_MODEL=
